<div class="card">
    <h2>محضر استلام خلاطة</h2>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 "> الاسم / Name </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">كود / Code</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
     </div>
     <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> القسم / Section </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">مكان العمل / Place of work</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
     </div>

     <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> نوع السياره / Vehicle Type </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">رقم اللوحه/ Plate Number </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> مفتاح / key  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">ليات / pipe hous  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> بطاريات / batteries </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">غطاء ديزل / diesel cover  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> كفرات / tires  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> بويه / paint     </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4">طرمبه هيدروليك / hydraulic pump   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> أدوات السلامه / safty     </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> زجاج / glass  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> مكينه / قير <br>  machine / gear    </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> كمبيوتر / computer     </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> طفايه حريق/ extinguisher    </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4">مسجل / recorder   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> قفل الأبواب/ door lock	    </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 row">
            <label class="col-md-4"> نظافه الحلة من الداخل  / Clean from the inside	            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    


    
   <div class="cardFooter">
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4">تاريخ الاستلام   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> توقيع المستلم  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> مدير الورشه  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
   </div>
</div>