h2{
    text-align: center;
    margin-bottom: 2rem;
}

.card{
    padding: 1rem;
}

.card img{
    width: 150px;
    height: 150px;
}

.content { 
   width: 80%;
   text-align: center;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}

.cardFooter{
    padding: 7px;
    background-color: #f6f6f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-top: 27px;
    padding: .5rem 3rem;
}

.borderContain{
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.4rem 0.5rem;
}