 
<ng-template #contentTemplate>
  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
      <!-- {{menuItems}} -->

      <ng-container>
        <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="employees-List"
          >
            <i class="fas fa-user-check"></i>
            <span>
              الموظفين
            </span>
          </a>
        </li> 

        <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="store-List"
          >
          <i class="fas fa-cog"></i>
            <span>
              المخزن
            </span>
          </a>
        </li> 


        <!-- <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="users-approval"
          >
            <i class="fas fa-user-check"></i>
            <span>
              {{ "SIDEMNUE.LINK1" | translate }}
            </span>
          </a>
        </li> 

        <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="system-configuration"
            data-bs-toggle="collapse" data-bs-target="#systemConfig"
          >
            <i class="fas fa-cog"></i>
            <span>
              {{ "SIDEMNUE.LINK4" | translate }}
            </span>
          </a>
        </li>
        <ul class="collapse sun-menu" id="systemConfig">
          <li>
            <a
              routerLinkActive="sub-active"
              class="side-nav-link-ref"
              routerLink="system-configuration/system-core-configuration"
            >
            <i class="fas fa-chevron-right"></i>
              <span>
                {{ "SIDEMNUE.LINK9" | translate }}
              </span>
            </a>
          </li>
          <li>
            <a
              routerLinkActive="sub-active"
              class="side-nav-link-ref"
              routerLink="system-configuration/system-configuration-professions"
            >
            <i class="fas fa-chevron-right"></i>
              <span>
                {{ "SIDEMNUE.LINK8" | translate }}
              </span>
            </a>
          </li>
          <li>
            <a
              routerLinkActive="sub-active"
              class="side-nav-link-ref"
              routerLink="system-configuration/system-rejection-reasons"
            >
            <i class="fas fa-chevron-right"></i>
              <span>
                {{ "SIDEMNUE.LINK7" | translate }}
              </span>
            </a>
          </li>
      </ul>
     -->
    </ng-container>
    </ul>
  </div>
</ng-template>
<!-- Sidebar -->

<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <div *ngIf="!isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </ngx-simplebar>
</div>
<!-- Left Sidebar End-->
