 
<ng-template #contentTemplate>
  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
      <!-- {{menuItems}} -->

      <ng-container>
        <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="employees-List"
          >
            <i class="fas fa-user-check"></i>
            <span>
              الموظفين
            </span>
          </a>
        </li> 

        <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="store-List"
          >
          <i class="fas fa-cog"></i>
            <span>
              المخزن
            </span>
          </a>
        </li> 
 
        <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="vehicles-List"
          >
          <i class="fas fa-database"></i>
            <span>
              المركبات
            </span>
          </a>
        </li> 

        <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="maintenance-List"
          >
          <i class="fas fa-wrench"></i>
            <span>
              صيانة
            </span>
          </a>
        </li> 

        <li>
          <a
            routerLinkActive="active"
            class="side-nav-link-ref"
            routerLink="reports-List"
          >
          <i class="fas fa-file"></i>
            <span>
              تقارير
            </span>
          </a>
        </li> 


    </ng-container>
    </ul>
  </div>
</ng-template>
<!-- Sidebar -->

<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <div *ngIf="!isCondensed">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </ngx-simplebar>
</div>
<!-- Left Sidebar End-->
