#sidebar-menu ul li a.active{
    background-color: #d1d1d1;
    color: #000 !important;
    padding-top: 17px;
    font-size: 15px;
  }
 
.sun-menu{
    padding-right: 1.4rem;
}
 
#side-menu li a:hover{
  color: #000 !important;
  font-size: 15px;
}
#side-menu li a.sub-active{ 
  color: #000 !important;
  font-size: 15px;
}



 