<div class="card">
    <h2> محضر استلام اغراض للعمال</h2>

<div class="container-fluid">
    <div class="borderContain">
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 "> التاريخ  </label>
            <div class="col-md-8">
                <input type="date" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">اسم الموظف</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div> 
        </div>
     </div>
     <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> الكود </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">القسم / مكان العمل   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
     </div>
 
     <div class="row mb-3">
        <div class="col-md-12 row">
            <label class="col-md-2"> بيان بالعهدة </label>
            <div class="col-md-10">
                <textarea class="form-control" rows="6"></textarea>
            </div>
        </div>
    
     </div>
 
    </div>



    
   <div class="container w-50 text-center cardFooter"> 
            <label class="col-md-4"> توقيع المستلم  </label> 
            <input type="text" class="form-control" id="name">
    </div>
    
   </div>
</div>