<div class="card">
    <h2>محضر استلام سيارة</h2>

<div class="container-fluid">
    <div class=" mb-4 borderContain">
        <div class="row mb-3">
            <div class="col-md-6 row">
                <label class="col-md-4 "> الاسم / Name </label>
                <div class="col-md-8">
                    <input type="text" class="form-control delBroder" id="name">
                </div>
            </div>
        
            <div class="col-md-6 row">
                <label class="col-md-4">كود / Code</label>
                <div class="col-md-8">
                    <input type="text" class="form-control delBroder" id="name">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 row">
                <label class="col-md-4"> القسم / Section </label>
                <div class="col-md-8">
                    <input type="text" class="form-control delBroder" id="name">
                </div>
            </div>
        
            <div class="col-md-6 row">
                <label class="col-md-4">مكان العمل <br> Place of work</label>
                <div class="col-md-8">
                    <input type="text" class="form-control delBroder" id="name">
                </div>
            </div>
        </div>
    </div>

    <div class="borderContain">
     <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> نوع السياره / Vehicle Type </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">رقم اللوحه/ Plate Number </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> مفتاح / key  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">بطاريات / batteries </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> كفرات / tires  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> بويه / paint     </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> زجاج / glass  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">المرايات / mirrors  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4">مكينه / قير <br>  machine / gear  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> قفل الأبواب/ door lock	    </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> مسجل / recorder </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> صدمات بهيكل السياره <br> / Car body shocks </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> نظافه السياره / car clean  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">  أضواء خلفيه واماميه  <br> / back and front lights </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    </div>



    
   <div class="container cardFooter">
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4">تاريخ الاستلام   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4"> توقيع المستلم  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> مدير الورشه  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
   </div>
</div>