<div class="card">
    <h2>نموذج استلام عهدة</h2>

<div class="container-fluid">

    <div class="borderContain">
        <div class="row mb-3">
            <div class="col-md-6 row">
                <label class="col-md-4 "> الاسم  </label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
        
            <div class="col-md-6 row">
                <label class="col-md-4">الكود </label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 row">
                <label class="col-md-4"> الوظيفة </label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
        
            <div class="col-md-6 row">
                <label class="col-md-4">القسم / مكان العمل</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
        </div>
    </div>
     
        <button class="btn_plus"><i class="fas fa-plus"></i></button>
        
    <div class="row mt-2 mb-3 borderContain">
        <div class="col-md-4 mb-3 row">
            <label class="col-md-3">العدد</label>
            <div class="col-md-9">
                <input type="number" class="form-control inputBorder">
            </div>
         </div>
         <div class="col-md-4 mb-3 row">
            <label class="col-md-3">القيمة</label>
            <div class="col-md-9">
                <input type="text" class="form-control inputBorder">
            </div>
         </div>
         <div class="col-md-4 mb-3 row">
            <label class="col-md-3">الحالة</label>
            <div class="col-md-9">
                <select class="form-select">
                    <option>جيدة</option>
                    <option>سئ</option> 
                </select>
            </div>
         </div>

         <div class="col-md-6">
            <label>بيان العهدة</label>
            <textarea class="form-control"></textarea>
         </div>
         <div class="col-md-6">
            <label>ملاحظات</label>
            <textarea class="form-control"></textarea>
         </div>
    </div>

    
     </div>

   
    


    
   <div class="container cardFooter">
    <h3 class="text-center m-3">أقر أنا الموقع أدناه بأنني استلمت العهدة الموضحة أعلاه.</h3>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> التوقيع بالاستلام   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">  التوقيع بالتسليم  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> الاسم   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">   الاسم  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> التوقيع    </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">  التوقيع   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> التاريخ    </label>
            <div class="col-md-8">
                <input type="date" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">  التاريخ   </label>
            <div class="col-md-8">
                <input type="date" class="form-control" id="name">
            </div>
        </div>
    </div>
   </div>
</div>