<div class="card">
    <h2>نموذج استلام عهدة</h2>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4 "> الاسم  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">الكود </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
     </div>
     <div class="row mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> الوظيفة </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    
        <div class="col-md-6 row">
            <label class="col-md-4">القسم / مكان العمل</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
     </div>

    
   
    


    
   <div class="cardFooter">
    <h3 class="text-center m-3">أقر أنا الموقع أدناه بأنني استلمت العهدة الموضحة أعلاه.</h3>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> التوقيع بالاستلام   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">  التوقيع بالتسليم  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> الاسم   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">   الاسم  </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> التوقيع    </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">  التوقيع   </label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="name">
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 row">
            <label class="col-md-4"> التاريخ    </label>
            <div class="col-md-8">
                <input type="date" class="form-control" id="name">
            </div>
        </div>

        <div class="col-md-6 row">
            <label class="col-md-4">  التاريخ   </label>
            <div class="col-md-8">
                <input type="date" class="form-control" id="name">
            </div>
        </div>
    </div>
   </div>
</div>